@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

body {
    font-family: "EB Garamond", "Times New Roman";
}

p {
    font-weight: 300;
    font-size: 1.45em;
    color: #111;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 0px 30px;
    background-color: white; 
    white-space: nowrap;
}

.logo {
    color: #111;
    font-size: 2.25em;
    text-decoration: none;
}

header .logo span {
    color: #969696;
    font-family: "Ballet";
    font-size: 1.75em;
    font-weight: 900;
}

header .navigation { 
    display: flex;
    position: relative;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #111;
    font-weight: 200;
    font-size: 1.5em;
}

.menu a:hover {
    color: #969696;
    transition: color 0.3s;
}

/* Hamburger Icon Styles */
.menu-toggle {
    padding: 0px 0px 0px 25px;
    color: black; 
    font-size: 24px; 
    cursor: pointer; 
    display: none; 
}

.hero {
    padding: 0px;
    font-family: "Windsong", "Hurricane", "Monsieur La Doulaise";    
    background: linear-gradient(rgba(255, 212, 149, 0), rgb(68, 47, 16,0.6)), url(https://images.pexels.com/photos/12846001/pexels-photo-12846001.jpeg );
    background-size: cover; 
    width: 100vw;
    height: 100vh;
    background-position: top center;
    background-repeat: no-repeat;
}

.hero-text {
    font-size: clamp(150px, 5vh, 150px);
}

.hero-svg {  
  width: 100%;
  height: 100%;
  display: block;
}

.hero image {
    filter: brightness(0.95) saturate(0.7) contrast(1.2) opacity(1);
}

.content h2 {
    font-size: 5em;
    color: white;
}

.content p {
    color: white;
    font-size: 1em; 
}

.btn {
    font-size: 1.5em;
    color: white;
    background-color: #969696;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 0px;
    display: inline-block; 
    white-space: nowrap;

}

.about {
    padding: 120px 80px 0px 80px;
    height: 100%;
}

.row {
    display: flex;
    gap: 3em;
    width: 100%;
}

.row .col50 {
    width: 50%;
}

.row .col50 .imgbx {
    height: 100vh;
}

.imgbx {
    width: 100%;
    min-height: 300px;
}

.imgbx img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.contactus .titleText {
    color: white;
}

.titleText span {
    /* color: #ff0157; */
    font-family: "Ballet";
    color: #969696;
    font-weight: 700;
    font-size: 1.5em;
}

.venues {
    padding: 120px 80px 170px 80px;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.venues-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 3em;
    padding: 3em;
}

.venues-content .box {
    width: 340px;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    padding: 1em;
}

.text {
    text-align: center;
    padding: 15px 0 5px;
}

.venues-content .box .imgbx {
    width: 100%;
    height: 300px;
}

.expert {
    padding: 80px;
}

.expert .venues-content .box {
    width: 250px;

}

.services {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/33197900/pexels-photo-33197900.jpeg);/* url(https://images.pexels.com/photos/3184183/pexels-photo-3184183.jpeg); */
    background-size: cover; 
    height: 100%;
    padding: 120px 80px 80px 80px;
}

.white { 
    color: white;
}

.services .title p,
.services span,
.white {
    color: white;
}


.services .content {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
    gap: 3em;
}

.services .content .box {
    width: 350px;
    padding: 40px;
    background-color: white;
    color: #111;
}

.text h2 {
    color:#555;
    font-weight: 600; 
    font-size: 1.5em;
    margin-top: 20px;
}

.text p {
    color: #111;
    font-style: italic;
}

.services .content .box .imgbx img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.services .content .box .imgbx {
    width: 100%;
    height: 300px;
}

.contactus .row {
    display: flex;
    gap: 3em;
    width: 100%;
}

.contactus .row .col50 {
    width: 50%;
    padding-top: 50px;
}

.contactform {
    padding: 10px 50px;
    border-radius: 16px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    background: #fff;
    max-width: 500px;
}

.contactform h3 {
    color: #111;
    font-size: 1.2em;
    padding-top: 10px;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactform .inputbox {
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
    width: 100%;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-size: 20px;
    font-weight: 300;
    resize: none;
    font-family: "EB Garamond", "Times New Roman";
}

.contactform .inputbox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background-color: #969696;
    display: inline-block;
    max-width: 100px;
    text-transform: uppercase;
    text-decoration: none; 
    letter-spacing: 2px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.contactus {
    background: linear-gradient(rgba(50,50,50,0.4), rgba(0,0,0,0.1)), url(https://images.pexels.com/photos/4334407/pexels-photo-4334407.jpeg);
    background-size: cover;
    height: 100vh;
    padding: 120px 80px 0px 80px;
    margin-top: 40px; 
}

.contactus span,
.contactus p {
    color: white;
}


.contactus h3 {
    color: #525252;
}

i {
    color: white;
}

.footer {
    background-color: #969696;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    color: white;
    font-weight: 300;
}

/* --------------------- */
/* Availability Calendar */

/* Hidden by default */
.calendar-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    margin-top: 1.5rem;
}

/* Reveal when target */
.calendar-wrapper:target {
    max-height: 1200px; 
}

/* Card container */
.calendar-card {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    max-width: 700px;
    width: 100%;
}

/* Header */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header h2 {
    color: #525252;
}

.close-btn {
    text-decoration: none;
    font-size: 1.2rem;
    color: #525252;
}

/* Table */
.calendar {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.calendar th {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #888;
    padding: 0.75rem 0;
}

.calendar td {
    text-align: center;
    padding: 1rem 0;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.2s ease;
}

.calendar .available:hover {
    background: #ededed;
    cursor: pointer;
  }

/* Availability styles */
.available {
    background: #f7f7f7;
}

.booked {
    background: #ffecec;
    color: #c13515;
}

.available a {
    color: black;
    text-decoration: none;
}
/* --------------------- */

.footer .icons i {
    font-size: 1.75em;
    padding: 5px 30px;
}

.footer .credits {
    font-size: 0.65em;
    padding: 0px 0px 5px;
}


/* Phone Res */
@media (max-width: 480px) {
    .logo {
        color: #111;
        font-size: 1.5em;
        text-decoration: none;
    }

    header .logo span {
        color: #969696;
        font-family: "Ballet";
        font-size: 1.75em;
        font-weight: 900;
    }

    p {
        padding: 0px 20px;
    }

    .venues {
        padding: 120px 20px 100px 20px;
    }

    .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .venues-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        gap: 3em;
        padding: 1em;
    }

    .venues-content .box {
        width: 340px;
        box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
        padding: 1em;
    }

    .services {
        padding: 1em;
        padding-bottom: 100px;
    }

    .text {
        text-align: center;
        padding: 15px 0 5px;
    }

    .venues-content .box .imgbx {
        width: 100%;
        height: 300px;
    }

    /* -------------------- */
    /* Contact and Calendar */
    .contactus {
        padding: 175px 15px 20px 15px;
    }

    .contactform {
        padding: 7px 20px;
        box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
        background: #fff;
        border-radius: 16px;
        margin-top: 25px;
    }

    .contactus {
        padding: 65px 20px 10px 20px;
        height: 100vh;
    }

    .contactus .row {
        display: block;
        gap: 3em;
        width: 100%;
    }

    .contactus .row .col50 {
        width: 100%;
        padding: 10px 0px;
    }
    /* -------------------- */
}

/* Tablet Res */
@media (max-width: 950px) {
    /* Show the hamburger icon */
    .menu-toggle {
    display: block; 
    }

    /* Hide the menu by default in mobile view */
    .menu {
        display: none; 
        flex-direction: column; 
        position: absolute; 
        background-color: white; 
        top: 100px; 
        left: 0;
        right: 0;
        z-index: 1; 
        padding: 20px 0; 
    }

    /* Show the menu when active */
    .menu.active {
        display: flex; 
    }

    /* Adjust the menu list for mobile */
    .menu ul {
        flex-direction: column; 
        align-items: center; 
    }

    /* Adjust menu items for mobile */
    .menu li {
        margin: 10px 0; 
    }

    p {
        padding: 0px 20px;
    }

    .about p,
    .services p {
        padding: 0px 0px;
    }

    /* -------------------- */
    /* About Us */
    .about {
        padding: 65px 20px 10px 20px;
        height: 100%;
    }

    .row {
        display: block;
        gap: 3em;
        width: 100%;
        padding: 50px 0px;
    }

    .row .col50 {
        width: 100%;
        padding: 10px 0px;
    }

    .row .col50 .imgbx {
        height: 50vh;
    } 
    /* -------------------- */

    .venues-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        gap: 3em;
        padding: 1em;
        margin-bottom: 3em;
    }

    .services {
        padding-bottom: 100px;
    }

    /* -------------------- */
    /* Contact and Calendar */
    .contactus {
        padding: 120px 15px 20px 15px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap;
        margin-top: 40px;
        max-width: 100%;
        gap: 3em;
    }

    .contactform {
        padding: 7px 20px;
        box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
        background: #fff;
        max-width: 100vw;
        margin: 30px 55px;
    }

    .contactus {
        padding: 65px 20px 10px 20px;
        height: 90vh;
    }

    .contactus .row {
        display: block;
        gap: 3em;
        width: 100%;
        padding: 0px 10px;
    }

    .contactus .row .col50 {
        justify-content: center;
        width: 100%;
        padding: 10px 0px;
    }
    /* -------------------- */

    /* --------------------- */
    /* Availability Calendar */
    .calendar-card {
        padding: 1rem;
    }

    .calendar th {
        font-size: 0.65rem;
    }

    .calendar td {
        padding: 0.75rem 0;
        font-size: 0.85rem;
    }

    .legend {
        flex-direction: column;
        gap: 0.5rem;
    }
    /* --------------------- */
}

/* Desktop Res */
@media (min-width: 951px) {
    .menu-toggle,
    .fas.fa-bars {
        display: none;
    }
}
